<?xml version="1.0"?>
<config>
    <modules>
        <Philwinkle_AppliedPatches>
             <version>0.1.0</version>
        </Philwinkle_AppliedPatches>
    </modules>
    <admin>
    </admin>
    <global>
        <models>
            <appliedpatches>
                <class>Philwinkle_AppliedPatches_Model</class>
                <resourceModel>appliedpatches_entity</resourceModel>
            </appliedpatches>
            <appliedpatches_entity>
                <class>Philwinkle_AppliedPatches_Model_Entity</class>
                <entities>
                </entities>
            </appliedpatches_entity>
        </models>
        <blocks>
            <appliedpatches>
                <class>Philwinkle_AppliedPatches_Block</class>
            </appliedpatches>
        </blocks>
        <helpers>
            <appliedpatches>
                <class>Philwinkle_AppliedPatches_Helper</class>
            </appliedpatches>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <appliedpatches>
                    <file>philwinkle/appliedpatches.xml</file>
                </appliedpatches>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events></events>
        <routers></routers>
        <translate>
            <modules>
                <Philwinkle_AppliedPatches>
                    <files>
                        <default>Philwinkle_AppliedPatches.csv</default>
                    </files>
                </Philwinkle_AppliedPatches>
            </modules>
        </translate>
        <layout></layout>
    </frontend>
    <default>
        <appliedpatches>
        </appliedpatches>
    </default>
</config>